fastapi
uvicorn
langchain
langchain-groq
langchain-cohere
langgraph
requests
python-dotenv
pydantic
cohere
pinecone-client
ollama
spacy
supabase
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
ragas
pypdf
langchain-community
postgrest
deepeval
datasets
email-validator
httpx